/** 选择我们 **/
.choose-us {
    text-align: center;
    padding-top: 60px;
    background: url('../../assets//images/choose-us-bg.png') no-repeat top center;
    background-size: 100%;
    h3 {
        font-size: 24px;
        font-weight: 600;
        letter-spacing: 16px;
    }
    span {
        display: block;
        padding-top: 10px;
        font-weight: 600;
        letter-spacing: 3px;
    }
    .content {
        margin-top: 35px;
        p {
            font-size: 16px;
            line-height: 34px;
            padding: 0 100px;
        }
        ul {
            padding-top: 120px;
            li {
                float: left;
                width: 16.66%;
                img {
                    display: block;
                    width: 100%;
                }
            }
        }
    }
    @media (max-width: 767px) {
        padding-top: 30px;
        h3 {
            font-size: 20px;
            letter-spacing: 14px;
        }
        .content {
            text-align: left;
            margin-top: 18px;
            p {
                display: inline;
                padding: 0;
                font-size: 14px;
                line-height: 28px;
            }
            ul {
                padding-top: 40px;
                li {
                    width: 33.33%;
                }
            }
        }
    }
}

/** 新加波移民 **/
.singapore {
    .list {
        width:100%;
        margin-top: 40px;
        overflow:hidden;
        height:520px;
        @media(max-width: 1100px) {
            height: 450px;
        }
        ul{
            width:100%;
            height:100%;
            display:table;
            table-layout:fixed;
            margin:0;
            padding:0
        }
    }
    ul li {
		display: table-cell;
		vertical-align: bottom;
		position: relative;
		width: 50%;
		background-repeat: no-repeat;
		background-position: center center;
		transition: all 500ms ease;
		height: 100%;
    }
    ul li a {
		display: block;
		width: 100%;
        height: 120px;
        text-align: center;
        position: relative;
        overflow: hidden;
		z-index: 3;
		vertical-align: bottom;
		padding: 30px 10px 0;
		box-sizing: border-box;
		color: #fff;
		text-decoration: none;
        transition: all 200ms ease;
        background: rgba(0, 0, 0, 0.4);
    }
    ul li a * {
		margin: 0;
		width: 100%;
		text-overflow: ellipsis;
		position: relative;
		z-index: 5;
		white-space: nowrap;
		overflow: hidden;
		-webkit-transform: translateX(-20px);
		transform: translateX(-20px);
		-webkit-transition: all 400ms ease;
		transition: all 400ms ease;
    }
    ul li a h2 {
		text-overflow: clip;
		font-size: 24px;
		text-transform: uppercase;
        margin-bottom: 2px;
        padding-bottom: 5;
    }
    ul:hover li { width: 15%; }
    ul:hover li:hover { width: 60%; }
    ul:hover li:hover a * {
		opacity: 1;
		-webkit-transform: translateX(0);
		transform: translateX(0);
    }
}

/** 全球护照精选 **/
.passport{
    background: #f7f7f7;
    padding: 80px 0;
    .public-title span i {
        background: none;
    }
    .content{
        margin: 30px -10px 0;
    }
    .list{
        width: 50%;
        padding: 20px 10px 0;
        text-align: center;
        .brick-item {
            border-radius: 5px;
            overflow: hidden;
            box-shadow: 0 0 5px 1px  rgba(0, 0, 0, 0.2);
        }
        a{
            display: block;
            overflow: hidden;
            position: relative;
            img{
                transition: 0.5s;
                width: 100%;
            }
            .more{
                position: absolute;
                z-index: 9;
                top: 50%;
                left: 50%;
                width: 110px;
                text-align: center;
                color: #fff;
                margin-left: -55px;
                border: 1px solid #fff;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                text-transform:uppercase;
                padding: 10px 0;
                opacity: 0;
                transition: 0.5s;
                transform: scale(0.7) translateY(-50%);
                span{
                    font-size: 14px;
                }
                i{
                    position: relative;
                    display: block;
                    margin: 22px auto;
                    width: 36px;
                    height: 36px;
                    line-height: 34px;
                    font-size: 16px;
                    &:after{
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 36px;
                        height: 36px;
                        border: 1px solid #fff;
                        transform: rotate(45deg);
                    }
                }
                p{
                    font-size: 12px;
                }
            }
            &:hover{
                img{
                    transform: scale(1.1);
                }
                .more{
                    opacity: 1;
                    transform: scale(1) translateY(-50%);
                }
            }
        }
        .name{
            position: relative;
            background: #fff;
            height: 130px;
            text-align: left;
            padding-left: 30px;
            padding-top: 15px;
            &.on {
                height: 150px;
            }
            .rec {
                font-size: 16px;
                color: #f0c671;
                font-weight: bold;
                i {
                    position: relative;
                    top: 1px;
                    display: inline-block;
                    width: 17px;
                    margin-left: 3px;
                    &:first-child {
                        margin-left: 7px;
                    }
                    img {
                        display: block;
                        width: 100%;
                    }
                }
            }
            strong{
                display: block;
                padding:12px 0 5px 0;
                font-size: 20px;
                color: #111;
            }
            p{
                line-height: 24px;
            }
            img.card {
                position: absolute;
                right: 35px;
                bottom: 35px;
                width: 17%;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
            }
        }
    }
    @media(max-width:767px) {
        margin: 0;
        padding: 40px 0;
        .content {
            margin: 0;
            .list{
                width: 100%;
            }
        }
    }
}

/** 我们的优势 **/
.advantage {
    position: relative;
    height: 730px;
    padding: 70px 0;
    background: url('../../assets//images/advantage-bg.png') no-repeat top center;
    background-size: 100% 730px;
    .public-title {
        h3 {
            color: #fff;
        }
        span {
            &:after, &:before{
                background: #fff;
            }
            i {
                background: no-repeat;
            }
        }
        p {
            color: #fff;
        }
    }
    .content {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        padding: 50px 80px;
        .list {
            width: 140px;
            img {
                display: block;
                width: 100%;
            }
            p {
                text-align: center;
                padding-top: 10px;
                color: #fff;
                font-size: 17px;
                line-height: 30px;
            }
        }
    }
    .label {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 140px;
        line-height: 140px;
        background: rgba(0, 0, 0, 0.3);
        ul {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            li {
                padding-left: 26px;
                color: #fff;
                font-size: 20px;
                background: url('../../assets/images/hook.png') no-repeat left center;
                background-size: 18px;
            }
        }
    }
        
}