/** 选择我们 **/


/** 全球护照精选 **/
.passport{
    background: #f7f7f7;
    padding: 80px 0;
    .content{
        margin: 30px -10px 0;
    }
    .list{
        width: 50%;
        padding: 20px 10px 0;
        text-align: center;
        .brick-item {
            border-radius: 5px;
            overflow: hidden;
            box-shadow: 0 0 5px 1px  rgba(0, 0, 0, 0.2);
        }
        a{
            display: block;
            overflow: hidden;
            position: relative;
            img{
                transition: 0.5s;
                width: 100%;
            }
            .more{
                position: absolute;
                z-index: 9;
                top: 50%;
                left: 50%;
                width: 110px;
                text-align: center;
                color: #fff;
                margin-left: -55px;
                border: 1px solid #fff;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                text-transform:uppercase;
                padding: 10px 0;
                opacity: 0;
                transition: 0.5s;
                transform: scale(0.7) translateY(-50%);
                span{
                    font-size: 14px;
                }
                i{
                    position: relative;
                    display: block;
                    margin: 22px auto;
                    width: 36px;
                    height: 36px;
                    line-height: 34px;
                    font-size: 16px;
                    &:after{
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 36px;
                        height: 36px;
                        border: 1px solid #fff;
                        transform: rotate(45deg);
                    }
                }
                p{
                    font-size: 12px;
                }
            }
            &:hover{
                img{
                    transform: scale(1.1);
                }
                .more{
                    opacity: 1;
                    transform: scale(1) translateY(-50%);
                }
            }
        }
        .name{
            position: relative;
            background: #fff;
            height: 130px;
            text-align: left;
            padding-left: 30px;
            padding-top: 15px;
            &.on {
                height: 150px;
            }
            .rec {
                font-size: 16px;
                color: #f0c671;
                font-weight: bold;
                i {
                    display: inline-block;
                    width: 19px;
                    img {
                        display: block;
                        width: 100%;
                    }
                }
            }
            strong{
                display: block;
                padding:12px 0 5px 0;
                font-size: 20px;
                color: #111;
            }
            p{
                line-height: 24px;
            }
            img {
                position: absolute;
                right: 35px;
                bottom: 35px;
                width: 17%;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
            }
        }
    }
    @media(max-width:767px) {
        margin: 0;
        padding: 40px 0;
        .content {
            margin: 0;
            .list{
                width: 100%;
            }
        }
    }
}
